<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ModelContainer" connectionString="metadata=res://*/Game.Database.Model.csdl|res://*/Game.Database.Model.ssdl|res://*/Game.Database.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SEDYH;initial catalog=ssd;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ssdEntities" connectionString="metadata=res://*/Game.Database.Model.csdl|res://*/Game.Database.Model.ssdl|res://*/Game.Database.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SEDYH;initial catalog=ssd;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>